{% extends 'stream.html' %}

{% block content %}
<div class = "row">
    <div class="grid-25">
        <h1>{{ user.username }}</h1>
    </div>
    <div class = "grid-50">
        <div class="grid-33"
            <h5>post</h5>
            <p>{{ user.posts.count() }}</p>
        </div>
        <div class="grid-33"
            <h5>followers</h5>
            <p>{{user.followers().count()}}</p>
        </div>
        <div class="grid-33"
            <h5>following</h5>
            <p>{{ user.following().count()}}</p>
        </div>
    </div>
    <div class = "grid-25">
        {% if current_user.authenticated %}
            {% if user != current_user %}
                {% if  not current_user.following() %}
                  <a href ="{{ url_for('follow',username=user.username) }}"  class='small'>follow</a>
                {% else %}
                    <a href ="{{ url_for('unfollow',username=user.username) }}"  class='small'>unfollow</a>
                {% endif %}
            {% endif %}
        {% endif %}
         <a href ="{{ url_for('follow',username=user.username) }}"  class='small'>follow</a>
    </div>
</div>

{{ super() }}
{% endblock  %}